Repository elastic/ecs, pull requests merged in 2025-03, with the labels that each got.

#2450 [docs] Add the new docs CI checks
  .github/workflows/comment-on-asciidoc-changes.yml
  .github/workflows/docs-build.yml
  .github/workflows/docs-cleanup.yml
Labels: DOCS

#2337 [RFC] Stage 0: Introducing GenAI fields
  rfcs/0000-rfc-template.md
  rfcs/text/0050-gen_ai-security-fields.md
Labels: RFC:candidate, Team: ECS

#2463 [docs] Update Logstash plugin link
  docs/docset.yml
  docs/reference/ecs-conventions.md
  docs/reference/ecs-faq.md
  docs/reference/ecs-products-solutions.md
Labels: documentation, DOCS
